aiohttp==3.8.4
aiosignal==1.3.1
argh==0.28.1
async-timeout==4.0.2
attrs==23.1.0
black==23.3.0
blackdaemon==0.1.0.1
charset-normalizer==3.1.0
click==8.1.3
frozenlist==1.3.3
future==0.18.3
idna==3.4
iso8601==1.1.0
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pathtools==0.1.2
platformdirs==3.2.0
psycopg2-binary==2.9.6
pyserial==3.5
PyYAML==6.0
tomli==2.0.1
typing_extensions==4.6.3
watchdog==0.8.3
yarl==1.8.2
